
//*div{width: 640px;
	background-color: #FAFAFA;
	padding:5px; *//
}

h1 {font-family: sans-serif, Tahoma;
	font-size: 30px;
	color: #FF0000;}

.textcontain { background-color:#99E6E6;
			   padding-top: 10px;
			   padding-bottom: 10px;

}

.author {  font-size: 14px;
		   font-family: sans-serif, Tahoma;
		   padding-bottom: 8px;
		   padding-top: 8px;
		   margin-left: 38px;
		}

.header { 
			padding-left: 30px;
			font-size: 22px;
			font-family: sans-serif, Tahoma;
			color: #FFFFFF;
	}
.member { 
			padding-left: 30px;
			font-size: 18px;
			font-family: sans-serif, Tahoma;
			color: #FFFFFF;
			text-align: center;
	}

.artcontain {
			margin-top: 5px;
			margin-bottom: 5px;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-right: 8px;
			padding-left: 30px;
			background-color: #a3d39c;
}

.center {margin-right: auto;
		 margin-left: auto;}

.artheader { 
			font-weight: bold;
			font-size: 18px;
			font-family: sans-serif, Tahoma;
			color: #000000;
}
.caltext {  font-size: 20px;
			font-family: sans-serif, Tahoma;
			color: #ffffff;
			padding-left: 28px;
}
.calcontain { 
			margin-top: 5px;
			margin-bottom: 5px;
			padding: 8px;
			background-color: #6dcff6;
}
.vietnamtable {
	background-color: #ffffff;
	font-size: 11px;
	font-family: sans-serif;
	vertical-align: top;
	padding:5px;
}
.indent { padding-left: 40px;
		  padding-right: 40px;}
	
.announcment {
			
			text-align: top;
			vertical-align: top;
			padding: 15px;
}
.clipboard { 
			padding:15px;
}

.poem {
	float: right;
	margin: 10px;
	width: 45%;
	font-size:14px;
	background-color: #ECECEC;
	padding-left: 10px;
}

h2 {font-family: sans-serif, Tahoma;
}

h3{ height: 25px;
	background-color: #6dcff5;
	font-size: 18px;
	font-family: sans-serif, Tahoma;
	color: #ffffff;
}


//*img {padding: 5px;} *//


